<div class="chart-wrapper">
  <div class="loader" *ngIf="loader">
    <span>Loading...</span>
  </div>

  <div class="title" *ngIf="!loader">Users Chart</div>
  <div class="sub-title" *ngIf="!loader">Dive into others collections!</div>

  <div class="chart" *ngIf="!loader">
    <div class="chart-card" *ngFor="let user of users" (click)="goToStock(user.vkId)">
      <div class="cc-avatar"><img src="{{user.avatar}}" alt="{{user.name}}"/></div>

      <div class="cc-info-main">
        <div class="cim-background">
          <div class="preview-pix" *ngFor="let pix of user.pixArray.slice(-5)">
            <img class="pix-img" src="{{pix.url}}" alt="{{pix.url}}"/>
          </div>
        </div>
        <div class="cim-wrapper">
          <div class="row">
            <div class="name">{{user.name}}</div>
          </div>
          <div class="row">
            <div class="album-size">{{user.albumSize}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
