@import "../../../../assets/styles/vars";

.chart-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: 52px;
  padding-bottom: 40px;

  .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font: 500 22px/24px $fontMain;
      text-align: center;
      color: $background;
    }
  }

  .title {
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    font: 500 42px/44px $fontMain;
    text-align: left;
    color: $background;
  }

  .sub-title {
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    font: 400 22px/24px $fontMain;
    text-align: left;
    color: $background;
  }

  .chart {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .chart-card {
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 20px;
      width: 100%;
      height: 120px;
      border-radius: 14px;
      background: radial-gradient(110.3% 95.84% at 56.25% 0%, #4C4C4C 0%, #333333 100%);

      .cc-avatar {
        overflow: hidden;
        width: 120px;
        height: 120px;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .cc-info-main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        height: 100%;
        flex: 1;

        .cim-background, .cim-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }

        .cim-background {
          filter: blur(69px);
          position: absolute;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .preview-pix {
            width: 20%;
            height: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: 50%;
            }
          }
        }

        .row {
          width: 100%;
          height: 50%;
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .name {
            position: absolute;
            width: 100%;
            padding: 5px 10px;
            margin: 5px 0px 0 0px;
            border-radius: 0 6px 6px 0;
            font: 500 20px/22px $fontMain;
            color: $background;
            background: #252525e3;
          }

          .album-size {
            position: absolute;
            right: 20px;
            bottom: -40px;
            margin-left: 20px;
            font: 900 92px/100px $fontMain;
            color: $background;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 750px) {
  .chart-wrapper {
    .title {
      margin-top: 15px;
      font: 500 22px/24px $fontMain;
    }

    .sub-title {
      margin-top: 15px;
      font: 400 16px/20px $fontMain;
    }

    .chart {
      margin-top: 0;
      .chart-card {
        height: 80px;

        .cc-avatar {
          width: 80px;
          height: 80px;
        }

        .cc-info-main {
          width: 140px;

          .row {
            .name {
              padding: 2px 6px;
              font: 500 16px/20px $fontMain;
            }

            .album-size {
              bottom: -46px;
              font: 900 44px/100px $fontMain;
            }
          }
        }
      }
    }
  }
}
