/* Vars */
$fontMain: 'Roboto', sans-serif;
$background: #314569cc;
$firmColorVK: #4a76a8;

.app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .gallery {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 40px;
    .pix {
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        width: 25%;
        height: 50%;
      }
    }
  }

  .auth-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 60px 0 100px;
    height: 100%;
    h1.title {
      width: 100%;
      margin: 0;
      padding: 5px 25px;
      border-radius: 50px;
      font: 400 62px/64px $fontMain;
      text-align: center;
      background-color: $background;
      color: #FFFFFFFF;
    }
    .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 44px;
      padding: 8px 20px;
      background: $background;
      border: none;
      outline: none;
      border-radius: 25px;
      cursor: pointer;
      text-decoration: none;
      transition: background 200ms ease-in-out;
      &:hover {
        background: lighten($background, 10%);
      }
      .logo-vk {
        margin-left: 10px;
        margin-top: 5px;
        svg {}
      }
      .label {
        font: 500 16px/18px $fontMain;
        text-align: center;
        color: rgba(255, 255, 255, 0.88);
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: $background;
    .social {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .link {
        width: 22px;
        height: 22px;
        margin-right: 40px;
        a {
          display: block;
          cursor: pointer;
          width: 100%;
          height: 100%;
          &.github {
            background: url("img/github.svg") no-repeat;
            background-size: cover;
          }
          &.telega {
            background: url("img/telega.svg") no-repeat;
            background-size: cover;
          }
          &.vk {
            background: url("img/vk.svg") no-repeat;
            background-size: cover;
          }
          &.instagram {
            background: url("img/instagram.svg") no-repeat;
            background-size: cover;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .app {
    h1.title {
      font: 400 40px/42px 'Orbitron', sans-serif;
    }
  }
}

@keyframes x-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}