<div class="stock-wrapper">
  <app-header></app-header>

  <div class="main">
    <div class="user-info">
      <div class="user-info-avatar">
        <a class="user-avatar" href="{{href}}" target="_blank" rel="noopener noreferrer">
          <img class="pix-img" src="{{user.avatar}}"/>
        </a>
      </div>
      <div class="user-info-main">
        <div class="name">{{user.name}}</div>
        <div class="album-size">{{user.albumSize}}</div>
      </div>
    </div>
    <div class="gallery" [ngClass]="selfStock ? '' : 'with-user-info'">
      <div class="pixies" *ngIf="user">
        <!-- (props.pixArray.length) && props.pixArray.slice(props.cutFrom - 1, props.cutTo + 3)-->
        <div class="pix" *ngFor="let pix of pixInViewport; index as i">
          <div class="pix-container" (mouseenter)="pixHoveredStart($event, pix, i)" (mouseleave)="pixHoveredEnd($event, pix, i)">
            <img class="pix-img" src="{{pix.url}}" alt="{{pix.url}}"/>
            <div class="pix-btn" *ngIf="pix.hovered" (click)="openViewer($event, pix, i)"></div>
            <div class="pix-selector" *ngIf="selectMode" (click)="pixSelectorClickHandler($event, pix, i)">
              <span class="selected" *ngIf="pix.selected"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-panel">
        <div class="pix-per-page">
          <a class="button select"  (click)="pppClickHandler()">
            <div class="label">{{pixPerPage}}</div>
          </a>
          <a class="button ppp50" (click)="pixPerPageHandler(50)" *ngIf="pppMode">
            <div class="label">50</div>
          </a>
          <a class="button ppp100" (click)="pixPerPageHandler(100)" *ngIf="pppMode">
            <div class="label">100</div>
          </a>
          <a class="button ppp200" (click)="pixPerPageHandler(200)" *ngIf="pppMode">
            <div class="label">200</div>
          </a>
          <a class="button ppp420" (click)="pixPerPageHandler(420)" *ngIf="pppMode">
            <div class="label">420</div>
          </a>
        </div>

        <div class="paginator">
          <button class="btn-page backward" (click)="paginatorClickHandler('backward')">
            <span class="icon">
              <span></span>
              <span></span>
            </span>
          </button>
          <button class="btn-page backward" (click)="paginatorClickHandler('firstPage')">
            <span class="icon">
              <span></span>
              <span></span>
            </span>
            <span class="icon">
              <span></span>
              <span></span>
            </span>
          </button>
          <span class="pages"><span class="page-current">{{paginatorPageCurrent}}</span> of <span class="page-total">{{paginatorPageTotal}}</span></span>
          <button class="btn-page forward" (click)="paginatorClickHandler('lastPage')">
            <span class="icon">
              <span></span>
              <span></span>
            </span>
            <span class="icon">
              <span></span>
              <span></span>
            </span>
          </button>
          <button class="btn-page forward" (click)="paginatorClickHandler('forward')">
            <span class="icon">
              <span></span>
              <span></span>
            </span>
          </button>
        </div>

        <div class="download">
          <a class="select" (click)="selectClickHandler()"></a>
          <a class="button selected" *ngIf="selectMode">
            <div class="deselect" *ngIf="selectedAmount > 0" (click)="deselectClickHandler()">
              <span></span>
              <span></span>
            </div>
            <div class="label">{{selectedAmount}} selected</div>
          </a>
          <a class="button download" href="/api/v1/download/pixcollector.zip" download *ngIf="selectMode">
            <div class="label">Download</div>
          </a>
          <a class="button select-all" (click)="selectAll()" *ngIf="selectMode">
            <div class="label"><span *ngIf="!selectAllPix">Select all</span><span *ngIf="selectAllPix">Unselect</span></div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <app-viewer
    *ngIf="viewerOpened"
    [viewerPix]="viewerPix"
    (close)="viewerClose()"
    (slideTo)="viewerSlide($event)"
  ></app-viewer>
</div>
