@import "../../../../assets/styles/vars";

.stock-wrapper {
  .main {
    .gallery {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 52px;

      .pixies {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

        .pix {
          width: 25%;
          height: 20%;
          padding: 4px;

          .pix-container {
            position: relative;
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            overflow: hidden;

            .pix-img {
              cursor: pointer;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .pix-btn {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: #25252594;
            }

            .pix-selector {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 10px;
              right: 10px;
              width: 40px;
              height: 40px;
              border: 1px solid $background;
              border-radius: 20px;
              transition: background 200ms;
              background: transparent;

              .selected {
                display: block;
                width: 32px;
                height: 32px;
                border-radius: 16px;
                background: darken($background, 10%);
              }

              &:hover {
                background: fade-out($background, .5);
              }
            }
          }
        }
      }

      .bottom-panel {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        width: 100%;
        height: 60px;
        bottom: 0;
        left: 0;
        border-radius: 8px 8px 0 0;
        background: #252525e8;
        .pix-per-page {
          width: 80px;
          .select {
            cursor: pointer;
            transition: color 100ms ease;
            font: 500 14px/18px $fontMain;
            user-select: none;
            color: $background;
            &:hover {
              color: lighten($background, 10%);
            }
          }
          .button {
            position: absolute;
            top: -40px;
            margin: 0;
            height: 30px;
            width: 50px;
            box-shadow: -2px -6px 10px rgba(232, 237, 243, 0.05), 2px 12px 64px #4B4B4B, inset -2px -6px 10px rgba(248, 249, 249, 0.03);
            .label {
              font-size: 14px;
            }
            &.ppp50 {
              left: 10px;
            }
            &.ppp100 {
              left: 70px;
            }
            &.ppp200 {
              left: 130px;

            }
          }
        }
        .paginator {
          display: flex;
          justify-content: center;
          align-items: center;
          font: 500 14px/18px $fontMain;
          color: $background;
          .btn-page {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            background: #4D4D4D;
            margin: 0 5px;
            outline: none;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            text-decoration: none;
            transition: background 100ms ease;
            box-shadow: -2px -6px 10px rgba(232, 237, 243, 0.05), 2px 12px 64px #4B4B4B, inset -2px -6px 10px rgba(248, 249, 249, 0.03);
            font: 500 14px/18px "Roboto", sans-serif;
            text-align: center;
            color: $dark;
            &.backward {}
            &.forward {}
            &:hover {
              background: lighten($dark, 10%);
            }
          }
          .pages {
            padding: 0 10px;
            user-select: none;
            .page-total {}
          }
        }
        .download {
          width: 80px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .select {
            position: relative;
            right: -5px;
            cursor: pointer;
            transition: color 100ms ease;
            font: 500 14px/18px $fontMain;
            user-select: none;
            width: 36px;
            height: 36px;
            mask-image: url("../../../../assets/images/save.svg");
            mask-size: cover;
            background: $background;
            &:hover {
              background: lighten($dark, 10%);
            }
          }
          .button {
            position: absolute;
            top: -40px;
            margin: 0;
            height: 30px;
            width: 100px;
            box-shadow: -2px -6px 10px rgba(232, 237, 243, 0.05), 2px 12px 64px #4B4B4B, inset -2px -6px 10px rgba(248, 249, 249, 0.03);
            .label {
              font-size: 14px;
            }

            &.selected {
              pointer-events: none;
              right: 230px;
              width: auto;
              .label {
                font-size: 14px;
              }
              .deselect {
                pointer-events: all;
                position: absolute;
                width: 20px;
                height: 20px;
                left: -5px;
                top: -10px;
                border-radius: 10px;
                background: $dark;
                span {
                  position: absolute;
                  width: 12px;
                  height: 2px;
                  left: 4px;
                  top: 50%;
                  margin-top: -1px;
                  background: $background;
                  &:nth-child(1) {
                    transform: rotate(45deg);
                  }
                  &:nth-child(2) {
                    transform: rotate(-45deg);
                  }
                }
              }
            }

            &.download {
              right: 120px;
            }

            &.select-all {
              right: 10px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 750px) {
  .stock-wrapper {
    .main {
      .gallery {
        .pixies {
          .pix {
            width: 33%;
            height: 25%;
          }
        }

        .bottom-panel {
          font: 500 14px/20px $fontMain;
          .paginator {
            .btn-page {
              width: 12px;
            }
          }
        }
      }
    }
  }
}
