$fontMain: 'Roboto', sans-serif;
$background: #4D4D4D;
$light: #949494;
$dark: #252525;
$gradient: radial-gradient(103.1% 103.1% at 47.74% 108.93%, #D400F7 18.23%, #FF3DC9 41.15%, #FFEA29 85.42%);

.gallery-wrapper {
  width: 100%;
}

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;

  .pixies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    .pix {
      width: 25%;
      height: 20%;
      padding: 4px;

      .pix-container {
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;

        .pix-img {
          cursor: pointer;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .pix-selector {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: background 200ms;
          background: transparent;

          &:hover {
            background: fade-out($background, .5);
          }
        }
      }
    }
  }
}

.fullScreen {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  background: #252525;

  .pix {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      object-position: 50%;
    }

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      width: 24px;
      height: 24px;
      mask-image: url('../../images/close.svg');
      mask-size: 100%;
      transition: background 200ms;
      background: $background;

      &:hover {
        background: lighten($dark, 10%);
      }
    }
  }
}

header {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 1px 0;
  background: #252525e8;
  transition: height 200ms ease-in-out;

  .profile, .settings {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    padding: 0 10px;
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
    Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
    text-align: center;

    .label, .user-name {
      transition: font 200ms ease-in-out;
      font: 500 14px/14px $fontMain;
      color: $background;
    }

    .icon {
      display: none;
      margin-right: 10px;
    }

    .user-avatar {
      width: 28px;
      height: 28px;
      border-radius: 20px;
      overflow: hidden;
      position: absolute;
      left: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .user-name {
      cursor: auto;
    }
  }

  .profile {
    width: auto;
    padding-left: 50px;
    position: relative;
  }
}

.stock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .stock-card {
    cursor: pointer;
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    //background: $background;
    box-shadow: -12px -20px 56px rgba(232, 237, 243, 0.05), 36px 12px 64px #4B4B4B, inset -16px -6px 80px rgba(248, 249, 249, 0.03);
    transition: background 100ms ease;
    &:hover {
      background: lighten($dark, 10%);
    }
    .logo {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: url("../../images/logo-no-banner.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 80%;
    }
    &.self {
      .logo {
        background-position: 53% 80%;
        background-size: 242%;
      }
    }
    &.users {
      margin-left: 80px;
      .logo {
        background-repeat: repeat;
        background-size: 42%;
      }
    }
    .subtitle {
      position: absolute;
      width: 100%;
      bottom: -38px;
      left: 0;
      font: 500 18px/20px $fontMain;
      color: $background;
      text-align: center;
      text-transform: capitalize;
    }
    a {
      display: block;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: none;
      text-indent: 100%;
    }
  }
}

.main {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 60px 0 40px;
  height: 100%;
  width: 100%;

  .logo {
    width: 100%;
    height: 300px;
    background: url("../../images/logo.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;

    h1.title {
      display: none;
      opacity: .9;
      margin: 0 auto;
      width: 360px;
      padding: 5px 0;
      border-radius: 50px;
      font: 400 42px/44px $fontMain;
      text-align: center;
      background: $gradient;
      color: $background;
      border: 4px solid $background;
    }
  }

  h2.subtitle {
    width: 340px;
    font: 500 18px/24px $fontMain;
    color: $background;
    text-align: center;
  }

  h3.made-by {
    width: 360px;
    margin: 20px 0;
    font: 500 12px/16px $fontMain;
    color: $background;
    text-align: center;

    .code, .love {
      font-size: 14px;
      opacity: .75;
      font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
      Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
    }

    .love {
      margin-left: 4px;
    }
  }

  .description {
    margin: 0 auto;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font: 500 18px/24px $fontMain;
    color: $background;
    text-align: center;
  }

  .form {
    margin: 40px 0;

    form {
      .title {
        margin-bottom: 10px;

        span {
          display: block;
          font: 500 16px/20px $fontMain;
          text-align: center;
          color: $background;

          &.albumSize {
            display: inline-block;
            font-weight: 900;
            font-size: 18px;
          }
        }
      }

      .inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 40px;

        .input {
          position: relative;
          width: 80px;
          height: 32px;
          box-shadow: 2px 2px 0 0px #1d1d1d;
          border-radius: 25px;
          overflow: hidden;

          &:first-child {
            margin-right: 10px;
          }

          input[type=number] {
            width: 100%;
            height: 100%;
            padding: 8px 0;
            background: $background;
            border: none;
            outline: none;
            font: 900 16px/18px $fontMain;
            text-align: center;
            color: $dark;
            box-shadow: 2px 2px 0 0px #1d1d1d;

            &:read-only {
              background: lighten($dark, 10%)
            }
          }

          span {
            position: absolute;
            bottom: -25px;
            width: 100%;
            font: 500 16px/20px $fontMain;
            color: $background;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        .checkbox {
          position: relative;
          margin-left: 10px;
          height: 32px;
          width: 32px;

          input[type=checkbox] {
            display: none;
          }

          label {
            cursor: pointer;
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            padding-top: 32px;
            font: 500 16px/32px $fontMain;
            color: $background;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          label::before,
          label::after {
            position: absolute;
            display: block;
            box-sizing: border-box;
            content: "";
          }

          label::before {
            height: 32px;
            width: 32px;
            left: 0;
            top: 0;
            border-radius: 16px;
            border: 2px solid $background;
            box-shadow: 2px 2px 0 0px #1d1d1d;
          }

          label::after {
            transition: transform .2s ease-in-out;
            content: "";
            height: 16px;
            width: 16px;
            left: 8px;
            top: 50%;
            margin-top: -8px;
            border-radius: 8px;
            background: $background;
            box-shadow: 2px 2px 0 0px #1d1d1d;
          }

          input[type="checkbox"] + label::after {
            transform: scale(0);
          }

          input[type="checkbox"]:checked + label::after {
            transform: scale(1);
          }
        }
      }
    }
  }
}

.gallery-range-slider {
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  background: lighten($dark, 10%);
  &.readOnly {
    opacity: .5;
    pointer-events: none;
  }

  .MuiSlider-root {
    padding: 0;
    height: 100%;

    .MuiSlider-rail {
      height: 100%;
      background: lighten($dark, 10%);
    }

    .MuiSlider-track {
      height: 100%;
      background: linear-gradient(-90deg, #D400F7 24.45%, #FF3DC9 43.26%, #FFEA29 79.6%);
    }

    .MuiSlider-thumb {
      height: 100%;
      width: 40px;
      border-radius: 8px;
      background: $background;
      margin-top: 0;

      &.MuiSlider-active {
        box-shadow: 0 0 2px 2px lighten($background, 20%);
      }

      &:hover {
        box-shadow: none;
      }
    }

    .MuiSlider-thumb[data-index='0'] {
      margin-left: -20px;
    }

    .MuiSlider-thumb[data-index='1'] {
      margin-left: -20px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: $background;
  opacity: .9;

  .social {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .link {
      width: 22px;
      height: 22px;
      margin-right: 40px;

      a {
        display: block;
        cursor: pointer;
        width: 100%;
        height: 100%;
        transition: background-color 100ms ease-in-out;
        box-shadow: inset 2px 2px 8px #101010;

        &.github {
          background-color: $dark;
          mask-image: url("../../images/github.svg");
          mask-size: cover;
          -webkit-mask-size: cover;
        }

        &.telega {
          background-color: $dark;
          mask-image: url("../../images/telega.svg");
          mask-size: cover;
          -webkit-mask-size: cover;
        }

        &.vk {
          background-color: $dark;
          mask-image: url("../../images/vk.svg");
          mask-size: cover;
          -webkit-mask-size: cover;
        }

        &.instagram {
          background-color: $dark;
          mask-image: url("../../images/instagram.svg");
          mask-size: cover;
          -webkit-mask-size: cover;
        }

        &:hover {
          background-color: darken($dark, 4%);
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 180px;
  height: 44px;
  margin: 40px auto;
  padding: 8px 20px;
  background: $background;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background 100ms ease;
  box-shadow: -12px -20px 56px rgba(232, 237, 243, 0.05), 36px 12px 64px #4B4B4B, inset -16px -6px 80px rgba(248, 249, 249, 0.03);

  &:hover {
    background: lighten($dark, 10%);
  }

  .logo-vk {
    margin-left: 10px;
    width: 34px;
    height: 19px;
    background-color: $dark;
    mask-image: url("../../images/vk-login.svg");
    mask-size: cover;
    -webkit-mask-size: cover;
    box-shadow: inset 2px 2px 8px #101010;
  }

  .label {
    font: 500 16px/18px $fontMain;
    text-align: center;
    color: $dark;
  }

  &.bottomed {
    opacity: .94;
    position: fixed;
    bottom: 40px;
    left: 50%;
    margin-left: -90px;
  }
}


@media screen and (max-width: 750px) {
  .stock {
    .stock-card {
      width: 110px;
      height: 110px;
      &.users {
        margin-left: 40px;
      }
      .subtitle {
        font: 500 14px/20px $fontMain;
      }
    }
  }


  .main {
    .logo {
      height: 200px;

      h1.title {
        width: 300px;
        font: 400 32px/34px $fontMain;
      }
    }

    h2.subtitle {
      width: 300px;
      font: 500 16px/20px $fontMain;
    }
  }
}


@keyframes x-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}