<footer>
  <div class="social">
<!--    <div class="link"><a class="github" href="https://github.com/kolinscript" target="_blank" rel="noopener noreferrer"> </a></div>-->
    <div class="link"><a class="telega" href="https://t.me/kolingram" target="_blank" rel="noopener noreferrer"> </a></div>
    <div class="link"><a class="vk" href="https://vk.com/kolinjoint" target="_blank" rel="noopener noreferrer"> </a></div>
    <div class="link"><a class="instagram" href="http://instagram.com/kolinvision" target="_blank" rel="noopener noreferrer"> </a></div>
  </div>
</footer>
