@import "../../../../assets/styles/vars";

header {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 1px 0;
  background: #2a2a2af2;
  transition: height 200ms ease-in-out;

  a.logo {
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    font: 900 22px/26px $fontMain;
    text-decoration: none;
    color: #f839d1;
    padding: 0 10px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 800% 800%;
    animation: rainbow 8s ease infinite;
    @keyframes rainbow {
      0%{background-position:0% 50%}
      50%{background-position:100% 25%}
      100%{background-position:0% 50%}
    }
  }

  .settings {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    height: 100%;
    padding: 0 10px;
    // EMOJI font
    //font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
    //Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;

    .icon {
      display: block;
      width: 46px;
      height: 46px;
      margin-bottom: 4px;
      background: url("../../../../assets/images/logo-no-juice-no-banner-105.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
    }

  }
}
