<div class="menu-wrapper"
  [formGroup]="form"
  *ngIf="form"
>
  <div class="block user" *ngIf="user">
    <a class="user-avatar" href="{{href}}" target="_blank" rel="noopener noreferrer">
      <img class="pix-img" src="{{user.avatar}}"/>
    </a>
    <div class="user-name">{{user.name}}</div>
  </div>

  <div class="block privacy">
    <div class="title">
      <span>Privacy settings</span>
      <span class="loader" *ngIf="privacyLoader"></span>
    </div>
    <div class="box-col-double">
      <div class="col col-one">
        <div class="sub-title">
          <span>Visible</span>
        </div>
        <div class="row">
          <div class="radio">
            <input [value]="1"
              type="radio"
              id="v-all"
              name="privacyVisible"
              formControlName="privacyVisible"
            />
            <label for="v-all">All</label>
          </div>
        </div>
        <div class="row">
          <div class="radio">
            <input [value]="2"
              type="radio"
              id="v-authorized"
              name="privacyVisible"
              formControlName="privacyVisible"
            />
            <label for="v-authorized">Authorized</label>
          </div>
        </div>
        <div class="row">
          <div class="radio">
            <input [value]="3"
              type="radio"
              id="v-nobody"
              name="privacyVisible"
              formControlName="privacyVisible"
            />
            <label for="v-nobody">Only me</label>
          </div>
        </div>
      </div>
      <div class="col col-two">
        <div class="sub-title">
          <span>Downloadable</span>
        </div>
        <div class="row">
          <div class="radio">
            <input [value]="1"
              type="radio"
              id="d-all"
              value=0
              name="privacyDownloadable"
              formControlName="privacyDownloadable"
            />
            <label for="d-all">All</label>
          </div>
        </div>
        <div class="row">
          <div class="radio">
            <input [value]="2"
              type="radio"
              id="d-authorized"
              name="privacyDownloadable"
              formControlName="privacyDownloadable"
            />
            <label for="d-authorized">Authorized</label>
          </div>
        </div>
        <div class="row">
          <div class="radio">
            <input [value]="3"
              type="radio"
              id="d-nobody"
              name="privacyDownloadable"
              formControlName="privacyDownloadable"
            />
            <label for="d-nobody">Only me</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block admin" *ngIf="user.sysAccessRights === 1">
    <div class="title">
      <span>Administrator tools</span>
    </div>
    <div class="sub-title">
      <span>Refresh users</span>
    </div>
  </div>

  <div class="block extra-rights">
    <div class="title">
      <span>Additional tools</span>
    </div>
    <div class="row">
      <div class="sub-title">
        <span>Get extra tools</span>
      </div>
      <div class="button stroke login" (click)="logout()">
        <div class="btn-label">Rights request</div>
        <div class="btn-logo"> </div>
      </div>
    </div>
    <div class="row" *ngIf="false">
      <div class="sub-title">
        <span>Save & Like</span>
      </div>
    </div>
  </div>

  <div class="block logout">
    <div class="button stroke login" (click)="logout()">
      <div class="btn-label">Logout</div>
      <div class="btn-logo logo-logout"> </div>
    </div>
  </div>
</div>
