<div class="stock-wrapper">
  <div class="title">Stocks</div>
  <div class="sub-title">The space that bring all of the pix together.</div>
  <div class="sub-title">Enjoy watching ur collection or explore users stocks - comment, like, save to ur stock and more.</div>
  <div class="sub-title">Have fun!</div>
  <div class="stock">
    <div class="stock-card self" (click)="goToStock(id)">
      <div class="logo"> </div>
      <div class="subtitle">my stock</div>
    </div>
    <div class="stock-card users" (click)="goToStock('all')">
      <div class="logo"> </div>
      <div class="subtitle">users stocks</div>
    </div>
  </div>
</div>
