<div class="stock-wrapper">
  <div class="loader" *ngIf="loader">
    <span>Loading...</span>
  </div>
  <div class="title">Stocks</div>
  <div class="sub-title">The space that bring all of the pix together.</div>
  <div class="sub-title">Enjoy watching your collection or explore other users stocks - like, save, download.</div>
  <div class="stock">
    <div class="stock-card self" (click)="goToStock(vkId)">
      <div class="logo"> </div>
      <div class="subtitle">my stock</div>
    </div>
    <div class="stock-card users" (click)="goToStock('all')">
      <div class="logo"> </div>
      <div class="subtitle">users chart</div>
    </div>
  </div>
<!--  <div class="tools" *ngIf="adTools">-->
<!--    <span>Additional tools activated!</span>-->
<!--  </div>-->
</div>
