@import "../../../../assets/styles/vars";

.viewer-wrapper {
  .fullScreen {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252525;

    .pix {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        object-position: 50%;
      }

      .close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        width: 24px;
        height: 24px;
        mask-image: url('../../../../assets/images/close.svg');
        mask-size: 100%;
        transition: background 200ms;
        background: $background;

        &:hover {
          background: lighten($dark, 10%);
        }
      }

      .slide {
        position: absolute;
        cursor: pointer;
        top: 0;
        height: 100%;
        width: 200px;

        span {
          display: block;
          position: absolute;
          width: 30px;
          height: 2px;
          top: 50%;
          left: 50%;
          margin-left: -15px;
          border-radius: 2px;
          background: lighten($dark, 10%);

          &:nth-child(1) {
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            transform: rotate(-45deg);
          }
        }

        &.left {
          left: 0;

          span {
            &:nth-child(1) {
              top: calc(50% + 10px);
            }

            &:nth-child(2) {
              top: calc(50% - 10px);
            }
          }
        }

        &.right {
          right: 0;

          span {
            &:nth-child(1) {
              top: calc(50% - 10px);
            }

            &:nth-child(2) {
              top: calc(50% + 10px);
            }
          }
        }

        &:hover {
        }
      }

      .panel-bot {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;

        .pb {
          display: flex;
          align-items: center;
          position: absolute;
          width: 50%;
          height: 100%;

          &.left {
            left: 0;
            justify-content: flex-end;
            padding-right: 50px;
          }

          &.right {
            right: 0;
            justify-content: flex-start;
            padding-left: 50px;
          }

          &.self-stock {
            width: 100%;
            padding: 0;
            justify-content: center;
          }

          .number, .add {
            cursor: pointer;
            user-select: none;
            padding: 5px 10px;
            background: $background;
            border-radius: 8px;
            font: 500 14px/20px $fontMain;
            color: #cacaca;
          }
        }

        .like {
          cursor: pointer;
          user-select: none;
          position: absolute;
          left: 50%;
          margin-left: -25px;
          width: 50px;
          height: 50px;
          mask-image: url("../../../../assets/images/heart.svg");
          mask-size: cover;
          -webkit-mask-size: cover;
          background: $background
        }
      }

    }
  }
}


@media screen and (max-width: 750px) {
  .viewer-wrapper {
    .fullScreen {
      .pix {
        img {
        }

        .close {
        }

        .slide {
          width: 120px;
        }

        .panel-bot {
        }

      }
    }
  }
}
