<div class="viewer-wrapper">
  <div class="fullScreen">
    <div class="pix">
      <img src="{{href}}" alt=""/>
      <div class="slide left" *ngIf="controlsViewed" (click)="slideHandler('left')">
        <span></span>
        <span></span>
      </div>
      <div class="slide right" *ngIf="controlsViewed" (click)="slideHandler('right')">
        <span></span>
        <span></span>
      </div>
      <div class="close" *ngIf="controlsViewed" (click)="closeHandler()"></div>
      <div class="panel-bot">
        <div class="number">{{viewerPix.num_current}} / {{viewerPix.num_total}}</div>
      </div>
    </div>
  </div>
</div>
