<div class="viewer-wrapper">
  <div class="fullScreen">
    <div class="pix">
      <img src="{{href}}" alt=""/>
      <div class="slide left"
           *ngIf="controlsViewed"
           (click)="slide('left')"
           (mouseenter) ="mouseEnter()"
           (mouseleave) ="mouseLeave()"
      >
        <span></span>
        <span></span>
      </div>
      <div class="slide right"
           *ngIf="controlsViewed"
           (click)="slide('right')"
           (mouseenter) ="mouseEnter()"
           (mouseleave) ="mouseLeave()"
      >
        <span></span>
        <span></span>
      </div>
      <div class="close"
           *ngIf="controlsViewed"
           (click)="closeViewer()"
      ></div>
      <div class="panel-bot"
           *ngIf="controlsViewed"
           (mouseenter) ="mouseEnter()"
           (mouseleave) ="mouseLeave()"
      >
        <div class="pb left" [ngClass]="{'self-stock': selfStock}">
          <div class="number">{{viewerPix.num_current}} of {{viewerPix.num_total}}</div></div>
        <div class="pb right" *ngIf="!selfStock || !viewerPix.user.vkTokenIF">
          <div class="add"(click)="stealPix()">Steal PIX</div>
        </div>
        <div class="like" *ngIf="!selfStock || !viewerPix.user.vkTokenIF" (click)="likePix()"></div>
      </div>
    </div>
  </div>
</div>
